
.plot_panel{
  border: 3px solid #888;
}

#gene_expr_panel {
  background-color: #6BDBD0;
}

#prot_acid_panel {
  background-color: #F8EB8C;
}

#prot_chromatin_panel {
  background-color: #ADD3FF;
}

#histone_panel {
  background-color: #EE6C4D;
}

#clear_table{
  float: right !important;
}

.no_data {
  text-align: center;
  padding: 50px;
  margin-bottom: 30px
}

.plotRow{
  height: 200px;
}

.checkbox {
  margin: 0;
  /*margin-top: 2px;
  margin-bottom: -25px;*/
}

.panel_title {
  margin-top: 0px;
}

.table_padding {
  padding: 0px 5px 0px 15px;
}

.volcano_padding {
  padding: 0px 15px 0px 5px;
}

/* extra colour - purple
#7B6D8D */

#title_section {
 border: 3px solid #888;
 padding: 30px;
 margin: 10px 0px;
 background-color: #C3D0EA;
}

#table_volcano_panel{
 border: 3px solid #888;
 margin: 10px 0px;
 padding: 10px;
 background-color: #C3D0EA;
}

#table_panel {
  border: 3px solid #888;
  padding-bottom: 40px;
}

#volcano_panel{
  border: 3px solid #888;
  margin-bottom: 0;
  padding: 15px;
}

#plot_type_selections {
   border: 3px solid #888;
   margin: 10px 0px;
   padding: 5px;
   padding-bottom: 0;
}

#select_all_plots{
  font-weight: bold
}

.inner_plot_panel {
  padding: 0;
}

.plot_box {
  padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 11px;
}

.dataTables_paginate{
    font-size: 10px;
    float: right !important;
}  
.dataTables_info{
     font-size: 12px;
     float: left !important;
}
.dataTables_length{
     float: right !important;
}